.aldrich-regular {
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Regla body */
body {
  margin: 0;
  padding: 0 20%;
}

/* Regla h1 */
h1 {
  text-decoration: underline;
  color: darkcyan;
  text-align: center;
}
/* clase selector */
.selector {
  color: #e0ffff;
}
/* Regla 5 clase selectors */
.selectors {
  padding: 5%;
  border: solid #008b8b 1px;
  border-radius: 5px;
}
/* Regla 6 id universal */
#universal {
  color: #fafad2;
}

/* Regla h2 con id universal */
h2.selector,
h2#universal {
  background-color: #008b8b;
  padding: 1%;
  border-radius: 5px;
}
/* Regla span */
span {
  font-weight: 900;
  background-color: black;
  color: white;
}
/* Regla hijo de li */
li > a {
  text-decoration: none;
}