/* Utilizar el selector universal * para cambiar el tipo de fuente de todo el documento */
* {
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* El body tendra margen 0 y relleno de 20% únicamente a la derecha y izquierda */
body {
  margin: 0;
  padding: 0 20%;
}

/* Los elementos h1 estaran subrayados con text-decoration: underline de color darkcyan y alineados en el centro */
h1 {
  text-decoration: underline;
  color: darkcyan;
  text-align: center;
}

/* Los elementos con clase selector tendran el color lightcyan */
.selector {
  color: #e0ffff;
}

/* Los elementos con clase selectors tendrán un relleno de 5% un border solid darkcyan 1px y los bordes redondeados con un tamaño de 5px */
.selectors {
  padding: 5%;
  border: solid rgb(0, 139, 139) 1px;
  border-radius: 5px;
}

/* Los elementos con identificador id universal tendran el color lightgoldenrodyellow */
#universal {
  color: #fafad2;
}

/* Los elementos con h2 y con clase selector y los elementos h2 con id universal tendran de color de fondo darkcyan y un relleno de 1% y las esquinas redondeadas con un tamaño de 5px */
h2.selector,
h2#universal {
  background-color: rgb(0, 139, 139);
  padding: 1%;
  border-radius: 5px;
}
/* Regla span */
span {
  font-weight: 900;
  background-color: black;
  color: white;
}
/* Regla hijo de li */
li > a {
  text-decoration: none;
}
/* Regla h3 */
h3 {
  background-color: rgba(0, 139, 139, 0.529);
  padding: 0.5px;
  border-radius: 5px;
}
/* Regla 11 div descendiente de gallery */
#gallery div {
  width: 100%;
}
/* Regla 12 img */
img {
  width: 100%;
  border: solid darkcyan 1px;
  border-radius: 5px;
}