.aldrich-regular {
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Regla 2 body */
body {
  margin: 0;
  padding: 0 20%;
}

/* Regla 3 h1 */
h1 {
  text-decoration: underline;
  color: darkcyan;
  text-align: center;
}
