.aldrich-regular {
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Regla body */
body {
  margin: 0;
  padding: 0 20%;
}

/* Regla h1 */
h1 {
  text-decoration: underline;
  color: darkcyan;
  text-align: center;
}
/* clase selector */
.selector {
  color: lightcyan;
}
/* Regla 5 clase selectors */
.selectors {
  padding: 5%;
  border: solid darkcyan 1px;
  border-radius: 5px;
}